* {
  box-sizing: border-box;
}

/* assign project specs in root folder as variables. YAY */
:root {
  --mobile-font-size: 14px;
  --tab-font-size: 16px;
  /* --body-font: 'Raleway Light', sans-serif;
  --headings-font: 'Playfair Display', serif; */
  --body-font-color: #2d2d2d;
  --light-grey-color: #969696;
  --orange-brand-color: #e2574c;
  --link-hover-color: #b64036;
  --light-grey-border: #d7d7d7;
  --dark-grey-footer: #242424;
  --padding: 15px;
}

body {
  background-color: white;
  /* font-family: var(--body-font); */
  font-family: 'Raleway-Medium', sans-serif;
  color: var(--body-font-color);
  font-size: var(--mobile-font-size);
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: var(--headings-font); */
  font-family: 'Playfair Display', serif;
}

.container {
  width: 100%;
  padding: var(--padding);
  margin: auto;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
}
.navbar-contents {
  display: flex;
  justify-content: space-between;
  max-height: 12%;
  flex-wrap: wrap;
}
.logo {
  align-self: flex-start;
  margin-bottom: 3px;
}

img.logo {
  max-width: 120px;
}

.cart {
  width: 50px;
  align-self: flex-end;
  flex: 0 1 50%;
  text-align: right;
  margin-bottom: 3px;
  position: relative;
}

.item-count {
  display: none;
  position: absolute;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: var(--orange-brand-color);
  right: -10px;
  text-align: center;
  color: white;
  line-height: 1.6;
}

.navmenu {
  padding-top: .5rem;
  border-top: 1px solid var(--light-grey-color);
  align-self: center;
  flex: 1 0 auto;
}

.navmenu ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-around; 
  flex-direction: row;
  text-transform: uppercase;
  padding-top: 8px;
  font-weight: 500;
}

.navmenu ul>li>a {
  text-decoration: none;
  color: var(--orange-brand-color);
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/banner-girl.png') no-repeat center 60px, url('../images/flower-bkgd.jpg'), repeat-x top;
  background-size: cover,150px 369px,cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 400px;
  margin-top: 115px;
}

.smooth-scroll-about {
  position: absolute;
  top: 402px;
}

.smooth-scroll-shop {
  position: absolute;
  top: 670px;
}

.smooth-scroll-featured {
  position: absolute;
  top: 1530px;
}

.smooth-scroll-updates {
  position: absolute;
  top: 2400px;
}


.hero > div {
  position: absolute;
  text-align: center;
}

.hero-text {
  color: white;
  z-index: 1;
  width: 60%;
  text-shadow: 2px 2px 4px var(--light-grey-border);
}

.hero-text p {
  text-transform: uppercase;
  padding: .5rem;
  font-size: 1.25rem;
}

.hero-text h1 {
  font-size: 2.12rem;
  padding: .25rem;
  font-family: 'PlayfairDisplay-Regular', serif;
}

.banner-girl {
  height: 70%;
}

.txtcontent {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: var(--padding);
  line-height: 2;
}

.txtcontent > p {
  font-weight: 300;
  padding: 1rem;
  max-width: 70%;
  margin: 0 auto;
}

 h2.italics {
  font-style: italic;
  font-size: 2.4rem;
  font-family: 'PlayfairDisplay-Regular', serif;
}

 span.bold {
  font-style: normal;
  font-weight: 900;
  font-family: 'PlayfairDisplay-Regular', serif;
}

.imagegrid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px 10px;
  grid-template-areas:
    "mens mens mens mens"
    "trends trends glasses glasses"
    "sale sale bags bags"
    "womens womens womens womens";
  margin-bottom: var(--padding);
}

.grid-item {
  position: relative;
}

.grid-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
}

.grid-item > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  z-index: 2;
  text-shadow: 2px 2px 4px var(--light-grey-border);
}

.item-1 {
  grid-area: mens;
}

.item-2 {
  grid-area: trends;
}

.item-3 {
  grid-area: glasses;
}

.item-4 {
  grid-area: sale;
}

.item-5 {
  grid-area: bags;
}

.item-6 {
  grid-area: womens;
}

div.imagegrid > div > img {
  width:100%;
}

.featured-products {
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;;
}

.padding-top {
  padding-top: calc(3 * (var(--padding)));
}

.product-info {
  line-height: 1.5;
  padding: var(--padding);
}

.product-info > p {
  font-size: .7rem;
  color: var(--light-grey-color);
}

.product-info > h3 {
  font-size: 1.5rem;
  color: var(--orange-brand-color);
 font-family: "Playfair Display", serif;
}

.carousel-cell {
  width: 100%;
}

.carousel-cell img {
  padding: 2rem 2rem;
  width: 70%;
}

.add-to-cart {
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px 8px 5px 8px;
  margin-top: 10px; 
  outline: none;
}

.subscribe {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../images/wave-bkgd.jpg') bottom;
  text-align: center;
  color: white;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: .5rem;
  margin-top: 30px;
}

.subscribetxt {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2;
    text-shadow: 2px 2px 4px var(--light-grey-border);
}
.subscribetxt h2{
  margin-bottom: 1rem;
}
.subscribetxt p{
  margin-bottom: 1rem;
}
.formcontainer {
  display: flex;
  justify-content: center;
}

form {
  position: relative;
  width: 100%;
}

input[type=email] {
  border-radius: 25px;
  padding: 15px;
  width: 90%;
  border: none;
  outline: none;
}

input[type=submit] {
  color: #fff;
  background-color: var(--orange-brand-color);
  border-radius: 25px;
  position: absolute;
  padding: 12px;
  border: none;
  right: 1.7rem;
  top: .2rem;
  outline: none;
}

footer {
  color: white;
  width: 100%;
  background-color: var(--dark-grey-footer);
  padding: var(--padding);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-text {
  text-align: center;
}

.footer-text > div {
  margin: var(--padding);
}
footer .greyscale {
  color: var(--light-grey-color);
}

.social ul {
  display: inline-block;
  vertical-align: middle;
}

.social {
  text-align: center;
}
.social a {
  color: white;
  text-decoration: none;
  align-content: center;
  line-height: 1.5;
}

.social span {
  display: none;
}

.social a:hover {
  color: var(--link-hover-color);
}

 .social li {
  display: inline-block;
}

.fa {
  display: inline-block;
}
/*fancyalert styles*/
.notice-warning {
  color: #333;
  font: 24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  text-align: center;
  display: none;
  z-index: 5;
}
strong {
  font-weight: 600;
}
.notice-warning {
  background: linear-gradient(#ffdc72, #e2574c);
  border: 1px solid #f2b600;
  border-bottom-color: #c90;
  border-radius: 6px;
  padding: 10px 16px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.notice-close {
  background: #ffdc72;
  background: rgba(255, 255, 255, .5);
  border-radius: 50%;
  box-shadow: inset 0 1px 2px rgba(178, 133, 0, .9), inset 0 -1px 2px rgba(255, 255, 255, .25);
  color: #b28500;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  height: 24px;
  float: right;
  text-align: center;
  transition: color .15s ease;
  width: 24px;
}
.notice-close:hover {
  color: #8c6900;
}
/*end fancyalert syles*/

@media (min-width:600px) {
  body {
    font-size: var(--tab-font-size);
  }
  .navbar-contents {
    flex-wrap: nowrap;
  }
  .logo {
    flex: 0 1 20%;
  }
  .cart {
    order: 3;
    flex: 0 1 20%;
  }
  .navmenu {
    order: 2;
    border-top: none;
    max-width: 40%;
  }
  .navmenu ul > li {
    padding: .5rem;
  }
  .hero {
    margin-top: 83px;
    height: 420px;
  }
  .imagegrid {
    grid-template-areas: 
    "mens mens trends glasses"
    "sale bags womens womens"
  }
  .featured-products {
    margin: 83px;
    height: auto;
  }
  .carousel-cell{
    width: 50%;
  }
  .carousel-cell img{
    width: 100%;
    padding: 0px;
  }
  form {
    max-width: 55%;
  }
  input[type=submit] {
    right: 2rem;
  }
  .footer-text {
    text-align: left;
  }
  .footcontainer {
    display: flex;
    justify-content: space-between;
  }
  .social {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .social li {
    display: block;
  }
  .social span{
    display: inline-block;
  }  
  .hero-text h1 {
    font-size: 3rem;
  } 
  .grid-item > p {
    font-size: 1.8rem;
  }
  .smooth-scroll-about {
    top: 420px;
  }
  .smooth-scroll-featured {
    top: 1110px;
  }
}

@media (min-width:1240px) {
  .navmenu {
    max-width: 30%;
  }
  .navbar-contents{
    width: 80%;
  }
  .carousel-cell{
    width: 25%;
  }
  input[type=submit] {
    right: 2.4rem;
  }
  .hero {
    background-size: cover, 245px 620px, contain;
    height: 560px;
  }
  .smooth-scroll-about{
  top: 590px;
  }
  .smooth-scroll-shop{
    top: 730px;
  }
  .smooth-scroll-featured{
    top: 1530px;
  }
   .hero-text h1 {
     font-size: 4rem;
   }
  .grid-item > p {
    font-size: 2.2rem;
  }  
  form {
    max-width: 35%;
  }
}